.add-form > button[disabled="disabled"] {
  opacity: 0.5;
  cursor: not-allowed;
}

.add-form div.alert {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 5px 15px;
}

span.required {
  color: $brand-danger;
}

.buttons-wrapper {
  padding: 0;

  @media (min-width: 768px) {
    padding: 0 15px 0 5px;
  }

  @media (min-width: 992px) {
    padding-right: 15px;
  }
}
