// bootstrap styles revrite
.table-hover > tbody > tr:hover {
  background-color: lighten(#337ab7, 50%);
}

.filter-form {
  padding: 20px 0;

  &__header {
    margin-top: 0;
  }
}

ul.pagination {
  margin: 0;

  @media (max-width: 767px) {
    margin: 10px 0;
  }
}

div.ng-table-counts.btn-group {
  margin: 0;

  @media (max-width: 767px) {
    margin: 10px 0;
  }
}

//update loader styles
.ball-spin-fade-loader > div {
  background: $brand-primary;
}

.table-loader {
  position: absolute;
  left: 50%;
  padding-top: 100px;
}
