@mixin table-icon($fs, $color, $color-hov) {
  font-size: $fs;
  cursor: pointer;
  color: $color;

  &:hover {
    color: $color-hov;
  }
}

// bootstrap styles revrite
.table-hover > tbody > tr:hover {
  background-color: lighten(#337ab7, 50%);
}

.filter-form {
  padding: 20px 0;

  &__header {
    margin-top: 0;
  }
}

.delete-user {
  @include table-icon(28px, lighten($gray-light, 20%), $brand-danger);
}

.edit-user {
  @include table-icon(22px, $gray-light, $brand-success);
}
