html, body {
  height: 100%;
  margin: 0;
}

$imgHeight: 40px;
$imgPadding: 10px;

.content-wrapper {
  padding-bottom: $imgHeight + 20;
  min-height: 100%;
}

.main-footer {
  width: 100%;
  background-color: $gray-darker;
  margin-top: -$imgHeight;
  height: $imgHeight;
  &__link {
    display: block;
  }
  &__img {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    height: $imgHeight;
    padding: $imgPadding 0;
  }
}

// override bootstrap styles
.navbar {
  border-radius: 0;
}
