{
  "extends": [
    "angular",
    "standart"
    ],
  "plugins": [
        "html",
        "angular"
    ],
  "globals": {
    "__DEV__": false,
    "__TEST__": false,
    "$window": true,
    "$document": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "phantomjs": true
  },
  "rules": {
    "angular/no-service-method": 0,
    "angular/window-service": 0,
    "angular/document-service": 0
  },
  "settings": {
    "angular": 1
  }
}
