{
  "extends": "standart",
  "plugins": [
        "html",
        "angular"
    ],
  "globals": {
    "__DEV__": false,
    "__TEST__": false
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "phantomjs": true
    }
}
