<form action="" id="user-filter" class="filter-form form-horizontal">
  <h3 class="text-center filter-form__header">User's filters</h3>
  <p class="help-block text-center">You can filtering users by input parameters in forms below</p>
  <div class="form-group">
    <label for="searchInputName" class="col-sm-2 col-md-1 control-label">Name</label>
    <div class="col-sm-10 col-md-11">
      <input type="text" class="form-control" id="searchInputName" placeholder="Name" ng-model="search.name">
    </div>
  </div>
  <div class="form-group">
    <label for="searchInputUsername" class="col-sm-2 col-md-1 control-label">Username</label>
    <div class="col-sm-10 col-md-11">
      <input type="text" class="form-control" id="searchInputUsername" placeholder="Username" ng-model="search.username">
    </div>
  </div>
  <div class="form-group">
    <label for="searchInputEmail" class="col-sm-2 col-md-1 control-label">Email</label>
    <div class="col-sm-10 col-md-11">
      <input type="text" class="form-control" id="searchInputEmail" placeholder="Name" ng-model="search.email">
    </div>
  </div>
</form>


<div class="table-responsive">
  <table class="table table-condensed table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>
          <a href="#" ng-click="tableCtrl.setOrder('id')">
            id
            <span ng-show="tableCtrl.setShow('id')" ng-class="tableCtrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="tableCtrl.setOrder('name')">
            Name
            <span ng-show="tableCtrl.setShow('name')" ng-class="tableCtrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="tableCtrl.setOrder('username')">
            Username
            <span ng-show="tableCtrl.setShow('username')" ng-class="tableCtrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="tableCtrl.setOrder('email')">
            Email
            <span ng-show="tableCtrl.setShow('email')" ng-class="tableCtrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="tableCtrl.setOrder('address.street')">
            Address
            <span ng-show="tableCtrl.setShow('address.street')" ng-class="tableCtrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="tableCtrl.setOrder('company.name')">
            Company
            <span ng-show="tableCtrl.setShow('company.name')" ng-class="tableCtrl.setIcon()"></span>
          </a>
        </th>
      </tr>
    </thead>
    <tr ng-repeat="user in tableCtrl.users | orderBy:tableCtrl.sortType:tableCtrl.sortReverse | filter:search">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>
        <a href="mailto:{{user.email}}">
          {{user.email}}
        </a>
      </td>
      <td>
        <address>
          {{user.address.street}}<br>
          {{user.address.suite}}<br>
          {{user.address.city}}<br>
          {{user.address.zipcode}}
        </address>
      </td>
      <td>
        {{user.company.name}}
      </td>
    </tr>
  </table>
</div>
