<form action="" id="user-filter" class="filter-form form-horizontal">
  <h3 class="text-center filter-form__header">User's filters</h3>
  <p class="help-block text-center">You can filtering users by input parameters in forms below</p>
  <div class="form-group">
    <label for="searchInputName" class="col-sm-2 col-md-1 control-label">Name</label>
    <div class="col-sm-10 col-md-11">
      <input type="text" class="form-control" id="searchInputName" placeholder="Name" ng-model="search.name">
    </div>
  </div>
  <div class="form-group">
    <label for="searchInputUsername" class="col-sm-2 col-md-1 control-label">Username</label>
    <div class="col-sm-10 col-md-11">
      <input type="text" class="form-control" id="searchInputUsername" placeholder="Username" ng-model="search.username">
    </div>
  </div>
  <div class="form-group">
    <label for="searchInputEmail" class="col-sm-2 col-md-1 control-label">Email</label>
    <div class="col-sm-10 col-md-11">
      <input type="text" class="form-control" id="searchInputEmail" placeholder="Name" ng-model="search.email">
    </div>
  </div>
</form>

<div class="table-responsive">
  <table class="table table-condensed table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>
          <a href="#" ng-click="tableCtrl.setOrder('id')">
            id
            <span ng-show="tableCtrl.setShow('id')" ng-class="tableCtrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="tableCtrl.setOrder('name')">
            Name
            <span ng-show="tableCtrl.setShow('name')" ng-class="tableCtrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="tableCtrl.setOrder('username')">
            Username
            <span ng-show="tableCtrl.setShow('username')" ng-class="tableCtrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="tableCtrl.setOrder('email')">
            Email
            <span ng-show="tableCtrl.setShow('email')" ng-class="tableCtrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="tableCtrl.setOrder('address.street')">
            Address
            <span ng-show="tableCtrl.setShow('address.street')" ng-class="tableCtrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="tableCtrl.setOrder('company.name')">
            Company
            <span ng-show="tableCtrl.setShow('company.name')" ng-class="tableCtrl.setIcon()"></span>
          </a>
        </th>
        <th>
          Delete
        </th>
      </tr>
    </thead>
    <tr ng-repeat="user in tableCtrl.srvc.users | orderBy:tableCtrl.sortType:tableCtrl.sortReverse | filter:search">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.username}}</td>
      <td>
        <a href="mailto:{{user.email}}">
          {{user.email}}
        </a>
      </td>
      <td>
        <address>
          {{user.address.street}}<br>
          {{user.address.suite}}<br>
          {{user.address.city}}<br>
          {{user.address.zipcode}}
        </address>
      </td>
      <td>
        {{user.company.name}}
      </td>
      <td>
        <button class="btn btn-default" ng-click="tableCtrl.srvc.deleteUser(user.id)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
  </table>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary text-uppercase" data-toggle="modal" data-target="#add-new-user">
  Add user
</button>

<!-- Modal -->
<div class="modal fade" id="add-new-user" tabindex="-1" role="dialog" aria-labelledby="add-new-user-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="add-new-user-label">Add new user</h4>
      </div>
      <div class="modal-body">

        <form action="" id="user-add" class="add-form form-horizontal">

          <div class="form-group">
            <label for="addInputName" class="col-sm-2 col-md-1 control-label">Name</label>
            <div class="col-sm-10 col-md-11">
              <input type="text" class="form-control" id="addInputName" placeholder="Name" ng-model="adduser.name" name="Name">
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
