<form action="" id="user-add" class="add-form form-horizontal" name="addUserForm" novalidate ng-submit="$ctrl.addUser($event, user)">
  <div class="form-group">
    <label for="addInputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputName" placeholder="Name" ng-model="user.name" name="name">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputUserame" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputUserame" placeholder="Username" ng-model="user.username" name="username">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6 col-md-4">
      <input type="email" class="form-control" id="addInputEmail" placeholder="Email" ng-model="user.email" name="email">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputCity" class="col-sm-2 control-label">City</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputCity" placeholder="City" ng-model="user.address.city" name="city">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputStreet" class="col-sm-2 control-label">Street</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputStreet" placeholder="Street" ng-model="user.address.street" name="street">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputSuite" class="col-sm-2 control-label">Suite</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputSuite" placeholder="Suite" ng-model="user.address.suite" name="suite">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputZipcode" class="col-sm-2 control-label">Zipcode</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputZipcode" placeholder="Zipcode" ng-model="user.address.zipcode" name="zipcode">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputPhone" class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputPhone" placeholder="Phone" ng-model="user.phone" name="phone">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputWebsite" class="col-sm-2 control-label">Website</label>
    <div class="col-sm-6 col-md-4">
      <input type="url" class="form-control" id="addInputWebsite" placeholder="Website URL" ng-model="user.website" name="website">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputCompany" class="col-sm-2 control-label">Company</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputCompany" placeholder="Company name" ng-model="user.company.name" name="company">
    </div>
  </div>
  <button type="submit" class="btn btn-primary text-uppercase col-sm-offset-2">Add user</button>
</form>
