<form action="" id="user-add" class="add-form form-horizontal" name="addUserForm" novalidate ng-submit="$ctrl.addUser($event, user)">
  <h3 class="text-center">Add new User</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-4">
      <p><span class="required">*</span> - required field</p>
    </div>
  </div>
  <div class="form-group"
  ng-class="{
    'has-warning': addUserForm.name.$dirty && $ctrl.warnings.name.length,
    'has-success': addUserForm.name.$valid && !$ctrl.errors.name.length && !$ctrl.warnings.name.length
    }">
    <label for="addInputName" class="col-sm-2 control-label">Name <span class="required">*</span></label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputName" placeholder="Name" ng-model="user.name" name="name" ng-keyup="$ctrl.haveMinimalLength('name', user, 3, true)" required>
      <div class="alert alert-warning" role="alert" ng-show="$ctrl.warnings.name">
        <span class="glyphicon glyphicon-alert"></span>{{$ctrl.warnings.name}}
      </div>
    </div>
  </div>
  <div class="form-group"
  ng-class="{
    'has-error': addUserForm.username.$dirty && $ctrl.errors.username.length,
    'has-warning': addUserForm.username.$dirty && $ctrl.warnings.username.length,
    'has-success': addUserForm.username.$valid && !$ctrl.errors.username.length && !$ctrl.warnings.username.length
    }">
    <label for="addInputUserame" class="col-sm-2 control-label">Username <span class="required">*</span></label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputUserame" placeholder="Username" ng-model="user.username" name="username" ng-keyup="[$ctrl.uniqueProp('username', user), $ctrl.haveMinimalLength('username', user, 3, true)]" required>
      <div class="alert alert-danger" role="alert" ng-show="$ctrl.errors.username">
        <span class="glyphicon glyphicon-alert"></span>{{$ctrl.errors.username}}
      </div>
      <div class="alert alert-warning" role="alert" ng-show="$ctrl.warnings.username">
        <span class="glyphicon glyphicon-alert"></span>{{$ctrl.warnings.username}}
      </div>
    </div>
  </div>
  <div class="form-group"
  ng-class="{
    'has-error': addUserForm.email.$dirty && $ctrl.errors.email.length || addUserForm.email.$dirty && addUserForm.email.$invalid,
    'has-success': addUserForm.email.$valid && !$ctrl.errors.email.length
    }">
    <label for="addInputEmail" class="col-sm-2 control-label">Email <span class="required">*</span></label>
    <div class="col-sm-6 col-md-4">
      <input type="email" class="form-control" id="addInputEmail" placeholder="Email" ng-model="user.email" name="email" ng-keyup="$ctrl.uniqueProp('email', user)" required>
      <div class="alert alert-danger" role="alert" ng-show="$ctrl.errors.email">
        <span class="glyphicon glyphicon-alert"></span>{{$ctrl.errors.email}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="addInputCity" class="col-sm-2 control-label">City</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputCity" placeholder="City" ng-model="user.address.city" name="city">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputStreet" class="col-sm-2 control-label">Street</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputStreet" placeholder="Street" ng-model="user.address.street" name="street">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputSuite" class="col-sm-2 control-label">Suite</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputSuite" placeholder="Suite" ng-model="user.address.suite" name="suite">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputZipcode" class="col-sm-2 control-label">Zipcode</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputZipcode" placeholder="Zipcode" ng-model="user.address.zipcode" name="zipcode">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputPhone" class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputPhone" placeholder="Phone" ng-model="user.phone" name="phone">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputWebsite" class="col-sm-2 control-label">Website</label>
    <div class="col-sm-6 col-md-4">
      <input type="url" class="form-control" id="addInputWebsite" placeholder="Website URL" ng-model="user.website" name="website">
    </div>
  </div>
  <div class="form-group">
    <label for="addInputCompany" class="col-sm-2 control-label">Company</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="addInputCompany" placeholder="Company name" ng-model="user.company.name" name="company">
    </div>
  </div>
  <div ng-switch="$ctrl.url">
    <div class="col-sm-offset-2 col-sm-6 col-md-4 buttons-wrapper">
      <a ui-sref="home" class="btn btn-warning text-uppercase">Cancel</a>
      <button ng-switch-when="/add-user" type="submit" class="btn btn-success text-uppercase pull-right" ng-disabled="addUserForm.$invalid || !$ctrl.haveNoErrors() ||addUserForm.$pristine">Add user</button>
      <a ng-switch-default ui-sref="home" class="btn btn-success text-uppercase pull-right" ng-click="$ctrl.changeUser(user)" ng-disabled="!$ctrl.haveNoErrors()">Save</a>
    </div>
  </div>
</form>
