<form action="" id="user-filter" class="filter-form form-horizontal">
  <h3 class="text-center filter-form__header">User's filters</h3>
  <p class="help-block text-center">You can filtering users by input parameters in forms below</p>
  <div class="form-group">
    <label for="searchInputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="searchInputName" placeholder="Name" ng-model="search.name">
    </div>
  </div>
  <div class="form-group">
    <label for="searchInputUsername" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="searchInputUsername" placeholder="Username" ng-model="search.username">
    </div>
  </div>
  <div class="form-group">
    <label for="searchInputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6 col-md-4">
      <input type="text" class="form-control" id="searchInputEmail" placeholder="Name" ng-model="search.email">
    </div>
  </div>
</form>

<div class="table-responsive">
  <table class="table table-condensed table-bordered table-hover table-striped">
    <thead>
      <tr>
        <!--<th>
          <a href="#" ng-click="$ctrl.setOrder('id')">
            id
            <span ng-show="$ctrl.setShow('id')" ng-class="$ctrl.setIcon()"></span>
          </a>
        </th>-->
        <th>
          <a href="#" ng-click="$ctrl.setOrder('name')">
            Name
            <span ng-show="$ctrl.setShow('name')" ng-class="$ctrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="$ctrl.setOrder('username')">
            Username
            <span ng-show="$ctrl.setShow('username')" ng-class="$ctrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="$ctrl.setOrder('email')">
            Email
            <span ng-show="$ctrl.setShow('email')" ng-class="$ctrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="$ctrl.setOrder('address.street')">
            Address
            <span ng-show="$ctrl.setShow('address.street')" ng-class="$ctrl.setIcon()"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="$ctrl.setOrder('company.name')">
            Company
            <span ng-show="$ctrl.setShow('company.name')" ng-class="$ctrl.setIcon()"></span>
          </a>
        </th>
        <th>
          Edit
        </th>
        <th>
          Delete
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in $ctrl.srvc.users | orderBy:$ctrl.sortType:$ctrl.sortReverse | filter:search">
        <!--<td>{{user.id}}</td>-->
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>
          <a href="mailto:{{user.email}}">
            {{user.email}}
          </a>
        </td>
        <td>
          <address>
            {{user.address.street}}<br>
            {{user.address.suite}}<br>
            {{user.address.city}}<br>
            {{user.address.zipcode}}
          </address>
        </td>
        <td>
          {{user.company.name}}
        </td>
        <td class="text-center">
          <a ui-sref="edit({userId: user.id})">
            <span class="glyphicon glyphicon-pencil edit-user"></span>
          </a>
        </td>
        <td class="text-center">
          <a ng-click="$ctrl.srvc.deleteUser(user.id)">
            <span class="glyphicon glyphicon-remove delete-user"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
